* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    padding: 10px 5px;
    border: none;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    background-color: aquamarine;
    border-radius: 5px;
    min-width: 50px;
    color: #fff;
    z-index: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s;
    font-weight: 600;
}

button::before {
    content: " ";
    position: absolute;
    display: block;
    top: 0;
    left: -50px;
    width: 70%;
    height: 100%;
    background: linear-gradient(98deg, transparent);
    transition: all 1s;
    z-index: -1;
    transform: translatex(-120px) skew(-20deg)
}

button:hover::before {
    transform: translatex(300px) skew(-20deg);
}

button:hover::before {
    background-color: gold;
}

body {
    background-color: white;
    color: rgb(15, 20, 25);
}

div~img,
#outlier {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

#tzeet-icon {
    width: 32px;
}

.navigation-menu {
    width: 100%;
    padding: 20px;
}

.navigation-menu img {
    width: 20px;
}

.navigation-menu ul {
    list-style-type: none;
}

.navigation-menu ul li a,
.publications {
    color: rgb(15, 20, 25);
    text-decoration: none;
}

h4 {
    color: rgb(83, 100, 113);
}

.navigation-menu ul li:hover,
.publications:hover {
    background-color: rgb(15, 25, 20, 0.1);
    border-radius: 10px;
}

.statistics a {
    text-decoration: none;
    color: rgb(83, 100, 113);
}

.statistics a img {
    width: 20px;
}

.statistics li a span:nth-child(1) {
    color: rgb(15, 20, 25);
    font-weight: bold;
}

.statistics a:hover {
    border-bottom: 2px solid rgb(83, 100, 113);
}

.action a {
    color: rgb(83, 100, 113);
    text-decoration: none;
}

.action img {
    width: 20px;
}

.reply:hover:first-child {
    background-color: rgba(29, 155, 240, 0.1);
    color: rgba(29, 155, 240, 1);
    border-radius: 5px;
    border-bottom: 2px solid rgb(83, 100, 113);
}

.share:hover:last-child {
    background-color: rgba(29, 155, 240, 0.1);
    color: rgba(29, 155, 240, 1);
    border-radius: 5px;
    border-bottom: 2px solid rgb(83, 100, 113);
}

.retzeet:hover {
    background-color: rgba(0, 186, 124, 0.1);
    color: rgba(0, 186, 124, 1);
    border-radius: 5px;
    border-bottom: 2px solid rgb(83, 100, 113);
}

.heart:hover {
    background-color: rgba(249, 24, 128, 0.1);
    color: rgba(249, 24, 128, 1);
    border-radius: 5px;
    border-bottom: 2px solid rgb(83, 100, 113);
}

.post:hover {
    background-color: rgba(0,0,0,0.03);
    border-radius: 10px;
}

#nameOntweet,
#friendName {
    color: rgb(15, 20, 25);
}

#bio {
    color: rgb(15, 20, 25);
}

#friendNick,
#dateTweetMy,
#dateTweetFriend,
#nickOntweet {
    color: rgb(83, 100, 113);
}